/* From VisualMimic (© 2025 Yanjie Ze) */
.related-paper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: transparent;
    border-radius: 0;
    width: 70.77%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    border-bottom: 1px solid #f2f2f2;
}

.related-paper-image {
    width: 200px;
    height: 120px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.related-paper-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related-paper-video {
    width: 200px;
    height: 120px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.related-paper-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related-paper-content {
    flex: 1;
}

.related-paper-title {
    /* font-family: "Source Serif 4", serif; */
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.related-paper-authors {
    /* font-family: "Source Serif 4", serif; */
    font-size: 1em;
    color: #2E2D29;
    margin-bottom: 5px;
}

.related-paper-links {
    display: flex;
    gap: 10px;
}

.related-paper-links a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.related-paper-links a:hover {
    color: red;
    text-decoration: underline;
}